html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body, html {
  height: 100%;
}

body {
	background: #fff;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures;
	-moz-font-feature-settings: "liga", "clig";
	-webkit-font-feature-settings: "liga", "clig";
	font-feature-settings: "liga", "clig";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

a {	
    text-decoration: none;
  	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;

    cursor: default;
}

.wrapper{
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    min-height: 710px;
}

.content{
	width: 900px;
	margin: 80px 80px 80px 60px;
}

.main{
	font-size: 58px;
	font-family: 'questaregular', Arial, sans-serif;
	color: #555;
	margin: 0;
	line-height: 1.15;
	font-weight: 700px;
}

.main a{
	color: #ccc;
	display: inline-block;
  	position: relative;
  	text-decoration: none;
  	text-shadow: 2px 0px #fff, -2px 0px #fff, -2px -5px #fff, -2px -4px #fff;
}

.main a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 1px;
  z-index: -999;
}

.main a:hover{
	color: #FF6C59;
}

.name{
	padding: 2px 3px 2px 5px;
	display: inline-block;
	background: #FF6C59;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Inconsolata';
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	position: absolute;
	top: 5px;
	left: 62px;
}

.links{
	position: absolute;
	bottom: 60px;
	left: 60px;
}

.logo-link{
	opacity: .3;
	clear: both;
	margin-right: 30px;
	display: inline;
	filter: saturate(0%);
	-webkit-filter: saturate(0%);
	-moz-filter: saturate(0%);
	-o-filter: saturate(0%);
	-ms-filter: saturate(0%);
}

.logo-link:hover{
	opacity: 1;
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);
}

.twitter{
	width: 24px;
}

.linkedin{
	width: 23px;
	margin-bottom: 1px;
}

.behance{
	width: 29px;
	margin-bottom: 1px;
}

.tag {
	pointer-events: none;
	position: absolute;
	width: 250px;
	top: 7px;
	margin-left:10px;
	opacity: 0;
	color: #FF6C59;
	text-decoration:none;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.logo-link:hover .tag{
	opacity: 1;
	margin-left: 18px;
}

@media (max-width: 1085px) {

	.wrapper{
    	min-height: 700px;
	}

	.content{
		width: 840px;
	}

	.main{
		font-size: 54px;
	}

	.main a{
  		text-shadow: 2px 0px #fff, -2px 0px #fff, -2px -4px #fff, -2px -5px #fff;
	}
}

@media (max-width: 1000px) {

	.wrapper{
    	min-height: 630px;
	}

	.content{
		width: 740px;
		margin: 70px 70px 70px 55px;
	}

	.name{
		left: 57px;
	}

	.links{
		bottom: 55px;
		left: 55px;
	}

	.main{
		font-size: 48px;
	}

	.main a{
  		text-shadow: 2px 0px #fff, -2px 0px #fff, -2px -3px #fff;
	}
}

@media (max-width: 890px) {

	.wrapper{
    	min-height: 570px;
	}

	.content{
		width: 650px;
			margin: 50px 40px 40px 40px;
	}

	.name{
		left: 42px;
	}

	.links{
		bottom: 40px;
		left: 40px;
	}

	.main a::after {
	  border-bottom: 1px solid;
	}

	.main{
		font-size: 42px;
	}
}



@media (max-width: 800px) {

	.wrapper{
    	min-height: 610px;
	}

	.content{
		width: 560px;
		margin: 50px 40px 40px 30px;
	}

	.name{
		left: 32px;
	}

	.links{
		bottom: 30px;
		left: 30px;
	}
}

@media (max-width: 710px) {

	.wrapper{`
    	min-height: 660px;
	}

	.content{
		width: 500px;
	}
}


@media (max-width: 640px) {

	.wrapper{
    	min-height: 590px;
	}

	.content{
		width: 440px;
	}

	.main{
		font-size: 38px;
	}

}

@media (max-width: 580px) {

	.wrapper{
    	min-height: 540px;
	}

	.content{
		width: 390px;
	}

	.main{
		font-size: 34px;
	}

	.main a{
  		text-shadow: 1px 0px #fff, -1px 0px #fff, -1px -2px #fff, -1px -3px #fff;
	}

}

@media (max-width: 500px) {

	.wrapper{
    	min-height: 660px;
	}

	.content{
		width: 290px;
	}

	.tag {
		display: none;
	}

}

@media (max-width: 390px) {

	.wrapper{
    	min-height: 540px;
	}

	.content{
		width: 220px;
		margin: 30px;
	}

	.links{
		bottom: 30px;
		left: 30px;
	}

	.main{
		font-size: 26px;
	}

}